<%= form_for(@member_info, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @member_info.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@member_info.errors.count, "error") %> prohibited this member_info from being saved:</h4>

      <ul>
      <% @member_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :first_name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :last_name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :middle_name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :middle_name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :address, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :city, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :city, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :state, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :state, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :zipcode, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :zipcode, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :bio, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :bio, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :avatar_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :avatar_id, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
