<div class="page-header">
  <%= link_to new_member_info_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Member info
  <% end %>
  <h1>Listing member_infos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Middle name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zipcode</th>
            <th>Bio</th>
            <th>Avatar</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @member_infos) do |member_info| %>
            <td><%= member_info.first_name %></td>
            <td><%= member_info.last_name %></td>
            <td><%= member_info.middle_name %></td>
            <td><%= member_info.address %></td>
            <td><%= member_info.city %></td>
            <td><%= member_info.state %></td>
            <td><%= member_info.zipcode %></td>
            <td><%= member_info.bio %></td>
            <td><%= member_info.avatar_id %></td>
            <td><%= link_to 'Show', member_info %></td>
        <td><%= link_to 'Edit', edit_member_info_path(member_info) %></td>
        <td><%= link_to 'Destroy', member_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
