<div class="page-header">
  <%= link_to member_infos_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_member_info_path(@member_info), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show member_info</h1>
</div>

<dl class="dl-horizontal">
  <dt>First name:</dt>
  <dd><%= @member_info.first_name %></dd>

  <dt>Last name:</dt>
  <dd><%= @member_info.last_name %></dd>

  <dt>Middle name:</dt>
  <dd><%= @member_info.middle_name %></dd>

  <dt>Address:</dt>
  <dd><%= @member_info.address %></dd>

  <dt>City:</dt>
  <dd><%= @member_info.city %></dd>

  <dt>State:</dt>
  <dd><%= @member_info.state %></dd>

  <dt>Zipcode:</dt>
  <dd><%= @member_info.zipcode %></dd>

  <dt>Bio:</dt>
  <dd><%= @member_info.bio %></dd>

  <dt>Avatar:</dt>
  <dd><%= @member_info.avatar_id %></dd>

</dl>
