<%= form_for(@ingredients_set, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @ingredients_set.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@ingredients_set.errors.count, "error") %> prohibited this ingredients_set from being saved:</h4>

      <ul>
      <% @ingredients_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :food_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :food_id, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ingredient_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :ingredient_id, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
