<div class="page-header">
  <%= link_to ingredients_sets_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @ingredients_set, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing ingredients_set</h1>
</div>

<%= render 'form' %>
