<div class="page-header">
  <%= link_to new_ingredients_set_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Ingredients set
  <% end %>
  <h1>Listing ingredients_sets</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Food</th>
            <th>Ingredient</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @ingredients_sets) do |ingredients_set| %>
            <td><%= ingredients_set.food_id %></td>
            <td><%= ingredients_set.ingredient_id %></td>
            <td><%= link_to 'Show', ingredients_set %></td>
        <td><%= link_to 'Edit', edit_ingredients_set_path(ingredients_set) %></td>
        <td><%= link_to 'Destroy', ingredients_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
