<div class="page-header">
  <%= link_to ingredients_sets_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_ingredients_set_path(@ingredients_set), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show ingredients_set</h1>
</div>

<dl class="dl-horizontal">
  <dt>Food:</dt>
  <dd><%= @ingredients_set.food_id %></dd>

  <dt>Ingredient:</dt>
  <dd><%= @ingredients_set.ingredient_id %></dd>

</dl>
