<div class="page-header">
  <%= link_to new_image_set_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Image set
  <% end %>
  <h1>Listing image_sets</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @image_sets) do |image_set| %>
            <td><%= image_set.name %></td>
            <td><%= image_set.description %></td>
            <td><%= link_to 'Show', image_set %></td>
        <td><%= link_to 'Edit', edit_image_set_path(image_set) %></td>
        <td><%= link_to 'Destroy', image_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
