<div class="page-header">
  <%= link_to image_sets_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_image_set_path(@image_set), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show image_set</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @image_set.name %></dd>

  <dt>Description:</dt>
  <dd><%= @image_set.description %></dd>

</dl>
