<div class="page-header">
  <%= link_to new_ingredient_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Ingredient
  <% end %>
  <h1>Listing ingredients</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Price</th>
            <th>Description</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @ingredients) do |ingredient| %>
            <td><%= ingredient.name %></td>
            <td><%= ingredient.cost %></td>
            <td><%= ingredient.price %></td>
            <td><%= ingredient.description %></td>
            <td><%= link_to 'Show', ingredient %></td>
        <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
        <td><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
