<div class="page-header">
  <%= link_to ingredients_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_ingredient_path(@ingredient), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show ingredient</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @ingredient.name %></dd>

  <dt>Cost:</dt>
  <dd><%= @ingredient.cost %></dd>

  <dt>Price:</dt>
  <dd><%= @ingredient.price %></dd>

  <dt>Description:</dt>
  <dd><%= @ingredient.description %></dd>

</dl>
