<div class="page-header">
  <%= link_to desks_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_desk_path(@desk), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show desk</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @desk.name %></dd>

  <dt>Capacity:</dt>
  <dd><%= @desk.capacity %></dd>

  <dt>Description:</dt>
  <dd><%= @desk.description %></dd>

</dl>
