<%= form_for(@order, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @order.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h4>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :total_price, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :total_price, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :desk_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :desk_id, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :member_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :member_id, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
