<div class="page-header">
  <%= link_to orders_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_order_path(@order), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show order</h1>
</div>

<dl class="dl-horizontal">
  <dt>Total price:</dt>
  <dd><%= @order.total_price %></dd>

  <dt>Desk:</dt>
  <dd><%= @order.desk_id %></dd>

  <dt>Member:</dt>
  <dd><%= @order.member_id %></dd>

</dl>
