<%= form_for(@member_food_amount, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @member_food_amount.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@member_food_amount.errors.count, "error") %> prohibited this member_food_amount from being saved:</h4>

      <ul>
      <% @member_food_amount.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :member_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :member_id, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :food_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :food_id, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :amount, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :amount, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
