<div class="page-header">
  <%= link_to member_food_amounts_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @member_food_amount, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing member_food_amount</h1>
</div>

<%= render 'form' %>
