<div class="page-header">
  <%= link_to new_member_food_amount_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Member food amount
  <% end %>
  <h1>Listing member_food_amounts</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Member</th>
            <th>Food</th>
            <th>Amount</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @member_food_amounts) do |member_food_amount| %>
            <td><%= member_food_amount.member_id %></td>
            <td><%= member_food_amount.food_id %></td>
            <td><%= member_food_amount.amount %></td>
            <td><%= link_to 'Show', member_food_amount %></td>
        <td><%= link_to 'Edit', edit_member_food_amount_path(member_food_amount) %></td>
        <td><%= link_to 'Destroy', member_food_amount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
