<div class="page-header">
  <%= link_to member_food_amounts_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New member_food_amount</h1>
</div>

<%= render 'form' %>
