<div class="page-header">
  <%= link_to member_food_amounts_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_member_food_amount_path(@member_food_amount), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show member_food_amount</h1>
</div>

<dl class="dl-horizontal">
  <dt>Member:</dt>
  <dd><%= @member_food_amount.member_id %></dd>

  <dt>Food:</dt>
  <dd><%= @member_food_amount.food_id %></dd>

  <dt>Amount:</dt>
  <dd><%= @member_food_amount.amount %></dd>

</dl>
