<div class="page-header">
  <%= link_to new_food_image_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Food image
  <% end %>
  <h1>Listing food_images</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Image</th>
            <th>Image set</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @food_images) do |food_image| %>
            <td><%= food_image.image_id %></td>
            <td><%= food_image.image_set_id %></td>
            <td><%= link_to 'Show', food_image %></td>
        <td><%= link_to 'Edit', edit_food_image_path(food_image) %></td>
        <td><%= link_to 'Destroy', food_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
