<div class="page-header">
  <%= link_to food_images_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_food_image_path(@food_image), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show food_image</h1>
</div>

<dl class="dl-horizontal">
  <dt>Image:</dt>
  <dd><%= @food_image.image_id %></dd>

  <dt>Image set:</dt>
  <dd><%= @food_image.image_set_id %></dd>

</dl>
