<div class="page-header">
  <%= link_to new_member_type_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Member type
  <% end %>
  <h1>Listing member_types</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @member_types) do |member_type| %>
            <td><%= member_type.name %></td>
            <td><%= member_type.description %></td>
            <td><%= link_to 'Show', member_type %></td>
        <td><%= link_to 'Edit', edit_member_type_path(member_type) %></td>
        <td><%= link_to 'Destroy', member_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
