<div class="page-header">
  <%= link_to member_types_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_member_type_path(@member_type), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show member_type</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @member_type.name %></dd>

  <dt>Description:</dt>
  <dd><%= @member_type.description %></dd>

</dl>
