<div class="page-header">
  <%= link_to new_order_food_item_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Order food item
  <% end %>
  <h1>Listing order_food_items</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Food</th>
            <th>Order</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @order_food_items) do |order_food_item| %>
            <td><%= order_food_item.food_id %></td>
            <td><%= order_food_item.order_id %></td>
            <td><%= link_to 'Show', order_food_item %></td>
        <td><%= link_to 'Edit', edit_order_food_item_path(order_food_item) %></td>
        <td><%= link_to 'Destroy', order_food_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
