<div class="page-header">
  <%= link_to order_food_items_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New order_food_item</h1>
</div>

<%= render 'form' %>
