<div class="page-header">
  <%= link_to order_food_items_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_order_food_item_path(@order_food_item), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show order_food_item</h1>
</div>

<dl class="dl-horizontal">
  <dt>Food:</dt>
  <dd><%= @order_food_item.food_id %></dd>

  <dt>Order:</dt>
  <dd><%= @order_food_item.order_id %></dd>

</dl>
