<div class="page-header">
  <%= link_to images_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_image_path(@image), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show image</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @image.name %></dd>

  <dt>Description:</dt>
  <dd><%= @image.description %></dd>

</dl>
